/* reset */
a {
  text-decoration: none;
}
ul,
ol {
  list-style-type: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0;
  margin-left: 0;
  margin-top: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}
button {
  cursor: pointer;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.section {
  padding-bottom: 120px;
  padding-top: 120px;
}

/* body */

body {
  color: #434455;
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
}

/* HEADER */

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1158px;
}
.page-header {
  background: var(--WHITE, #fff);
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
  border-bottom: 1px solid #e7e9fc;
}

/* logotype */

.logo {
  color: #2e2f42;
}
.logotype {
  color: #4d5ae5;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: left;
  text-transform: uppercase;
}
.header-logotype {
  margin-right: 76px;
}

/* navigation */
.studio::after {
  content: '';
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -1px;
  border-radius: 2px;
  background-color: #404bbf;
  height: 4px;
}
.nav-menu-link {
  display: block;
  align-items: center;
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  padding-bottom: 24px;
  padding-top: 24px;
}
.studio {
  position: relative;
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-menu {
  display: inline-flex;
  gap: 40px;
  width: 933;
  justify-content: space-between;
  align-items: center;
}
.nav-menu-link:hover,
.nav-menu-link:focus {
  color: #404bbf;
}
.contact-list {
  font-style: normal;
  display: flex;
  justify-content: center;
  gap: 40px;
}
.contact-list-mailto {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-list-mailto:hover,
.contact-list-mailto:focus {
  color: #404bbf;
}

/* section 1-Hero-image, button */

.button {
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  background-color: #4d5ae5;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-align: left;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 16px 32px;
  margin-top: 48px;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  border: none;
}
.main-title-section {
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
}
.button:hover,
.button:focus {
  background-color: #404bbf;
}
.hero-image {
  padding: 188px 0;
  max-width: 1440px;
  margin: auto;
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-image.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.main-title {
  color: #ffffff;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
  text-align: center;
}

/* section 2-Advantages */

.advantages {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: left;
  margin-top: 0;
}
.advantages-text {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
}
.advantages-icon-item {
  width: 264px;
  height: 112px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid var(--LIGHT-SLATE, #8e8f99);
  background: var(--CLOUD, #f4f4fd);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}
.advantages {
  margin-bottom: 8px;
}
.advantages-list {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
.advantages-item {
  width: calc((100% - 72px) / 4);
}

/* section 3-Team */

.team-section {
  background-color: #f4f4fd;
}
.team {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.members {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}
.members-info {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  width: calc((100% - 72px) / 4);
}
.members-info:last-child {
  margin-right: 0;
}
.members-text {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: center;
}
.members-list {
  display: flex;
  gap: 32px;
  align-items: center;
}
.member-card {
  padding: 32px 0;
}

/* ICONS */

.social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.social-link-icon {
  fill: #f4f4fd;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
}

/* section 4-portfolio */

.portfolio-main {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 72px;
}
.portfolio-project {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: left;
  margin-bottom: 8px;
}
.porfolio-project-text {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 0px;
  column-gap: 24px;
  row-gap: 48px;
  margin-bottom: 24px;
  margin-right: 24px;
}
.portfolio-list-main {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list-main:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.portfolio-list-item {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.overlay-item {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  color: #f4f4fd;
  overflow: auto;
  transform: translateY(100%);
  padding: 40px 32px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.overlay-text {
  color: #f4f4fd;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.overlay {
  position: relative;
  overflow: hidden;
}
.portfolio-list-main:hover .overlay-text {
  transform: translateY(0%);
}
/* footer */

.footer {
  background-color: #2e2f42;
}
.footer-links-text {
  color: #ffffff;
  font-weight: 500;
  margin-bottom: 16px;
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.footer-text {
  display: block;
  flex-wrap: wrap;
  max-width: 264px;
  color: #f4f4fd;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
}
.logo-footer {
  color: #f4f4fd;
}
.footer-container {
  display: flex;
  align-items: baseline;
}
.footer-main {
  margin-right: 120px;
}
.footer-links {
  display: flex;
  gap: 16px;
}
.footer {
  padding: 100px 0;
}
.footer-logotype {
  display: inline-block;
  margin-bottom: 16px;
  margin-right: 269px;
}
.footer-social-links {
  width: 40px;
  height: 40px;
}
.footer-link-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-link-item:hover,
.footer-link-item:focus {
  background-color: #31d0aa;
}

/* footer-form */
.footer-subscribe-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 80px;
}
.footer-form-label {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.footer-form {
  width: 264px;
  height: 40px;
  color: #ffffff;
  font-size: 12px;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.04em;
  border-radius: 4px;
  border: 1px solid var(--WHITE, #fff);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background: var(--NAVY-BLUE, #2e2f42);
  margin-right: 24px;
}
.footer-form::placeholder {
  color: #ffffff;
  font-size: 12px;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.04em;
}
.button-subscribe {
  display: flex;
  border-radius: 4px;
  background: #4d5ae5;
  gap: 16px;
  padding: 8px 24px;
  height: 40px;
  width: 165px;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  position: relative;
}
.form-subscribe-icon {
  max-width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/* overlay window */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  z-index: 999999;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  height: 584px;
  border-radius: 4px;
  background: #fcfcfc;
}

.backdrop-text {
  color: #2e2f42;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.close-btn {
  background-color: transparent;
  border: none;
  width: 24px;
  height: 24px;
  padding: 0;
  fill: rgba(0, 0, 0, 0.1);
  position: absolute;
  right: 0;
  top: 0;
}
.form-wrappper-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #2e2f4266;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-wrappper-input:focus .form-wrappper-input:active {
  border-color: #4d5ae5;
}
.form-wrapper-label {
  color: #8e8f99;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
}
.backdrop-btn {
  cursor: pointer;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 16px 32px;
  width: 105px;
  border-radius: 4px;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.form-link {
  color: #4d5ae5;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: 0.04em;
  text-decoration: underline;
}
.input-icon {
  position: absolute;
  left: 0;
  top: 0;
}
